#root {
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
}

.tab-content {
  padding: 10px 40px;
  display: flex;
  border: 1px solid black;
}

input {
  font-size: 14px;
  padding: 3px 5px;
}

.form-field {
  margin-bottom: 15px;
}

.person-list {
  width: 350px;
  padding-top: 25px;
  margin-left: 100px;
}

.person {
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
}

.person-field {
  margin-bottom: 10px;
}

.person-label {
  font-weight: bold;
}

.edit-person,
.add-person {
  position: fixed;
}

.edit-person-container,
.add-person-container {
  width: 300px;
}

.tab {
  font-size: x-large;
  border-width: 2px 2px 0px 2px;
  border-color: black;
  margin: 2px 2px 0px 2px;
  padding: 5px 10px 10px 5px;
  background-color: lightgrey;
}

.selected-tab {
  background-color: white;
}
